{% extends 'qflapp/base.html' %}
{% load static %}

{% block title %}
Edit Notice
{% endblock %}

{% block content %}
<div class="edit-notice-wrapper">
    <h2>Edit Notice</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_title">Title</label>
            <input type="text" name="title" id="id_title" class="form-control" value="{{form.title.value}}">
        </div>
        <div class="form-group">
            <label for="id_content">Content</label>
            <textarea name="content" id="id_content" class="form-control" rows="5">{{ form.content.value}}</textarea>
        </div>
        <button class="save-changes" type="submit">Save Changes</button>
    </form>
</div>
{% endblock %}
