{% extends 'qflapp/base.html' %}
{% load static %}


{% block title %}
Home | The Qamar Free Library
{% endblock %}

{% block content %}
    <section id="hero-section" class="hero-section">
        <div class="overlay">
            <div class="hero-content">
                <div class="hero-text">
                    <h1>The Qamar Free Library</h1>
                    <p>Empowering Minds Through Knowledge</p>
                </div>
            </div>
        </div>
        <!-- Full-width image -->
        <div class="hero-image">
            <img src="{% static 'qflapp/images/qfl02.png' %}" alt="Library Image">
        </div>
    </section>
    

    <section id="about-section" class="about-section">
        <div class="about-content">
            <div class="about-text" style="text-align: justify; line-height: 2rem;">
                <div class="notice-section">
                    <h2>Latest News</h2>
                    <div class="news-container" id="news-container">
                        {% if notices %}
                            {% for notice in notices %}
                                <div class="news-items-wrapper" style="border-bottom: 1px solid #fff; padding-top: 0.5rem;">
                                    <div class="news-item" style="line-height: normal;">
                                        <h3>{{ notice.title }}</h3>
                                        <p>{{ notice.content }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No notices available.</p>
                        {% endif %}
                    </div>
                </div>
                <h2>About Us</h2>
                <br>
                <p>The foundation of <b>Muslim Free Library</b> dates back to 1939, but the idea of its necessity was first raised in 1927. It was during this time that <b>Abdul Hamid Abdul Gafoor</b>, a devoted member of the Jamaat, printed and distributed a handbill advocating for the establishment of a library. His initiative sparked a growing conversation within the community.</p>
                <br>
                <p>In 1938, a letter published in the newspaper <i>Muslim Gujarat</i> renewed the call to action, urging the creation of a library to serve the intellectual and cultural needs of the Jamaat. <br>With these collective efforts, The Muslim Free Library was established in 1939 with the following aims:</p>
                <div class="aims">
                    <ul>
                        <li style="list-style: disc; margin-left: 1.5rem;">To keep the community informed of national events and world affairs.</li>
                        <li style="list-style: disc; margin-left: 1.5rem;">To organize debates and lecture programs for intellectual engagement.</li>
                        <li style="list-style: disc; margin-left: 1.5rem;">To bring together various cultural and literary associations within the Jamaat, fostering unity and collaboration.</li>
                    </ul>
                </div>
                <br>
                <p>The library has enjoyed the unwavering moral and financial support of the Patni Jamaat and the Patni Cooperative Credit Society from its inception, a partnership that continues to this day. A significant portion of the books and magazines were generously donated by <b>Janab Mohammed Usman Topiwala Sahab</b>, who was also the publisher of the monthly magazine <b>Qamar</b> at the time.</p>
                <br>
                <p>In 1942, the untimely passing of Mr. Mohammed Usman Topiwala left a profound impact on the community. To honor his memory, it was decided to incorporate his pen name, "Qamar," into the library’s name. Since then, the library has been known as <b>The Qamar Free Library.</b></p>
            </div>
        </div>
    </section>


    <section id="gallery-section" class="gallery-section">
        <h2>Photo Gallery</h2>
        <div class="gallery-strip">
            <div class="gallery-scroll">
                <!-- {% for image in gallery_images %}
                    <img src="{{ image.image.url }}" alt="{{ image.title }}">
                {% endfor %} -->
                <img src="{% static 'qflapp/images/qfl02.png' %}" alt="Photo 1">
                <img src="{% static 'qflapp/images/qfl01.jpg' %}" alt="Photo 2">
                <img src="{% static 'qflapp/images/qfl02.png' %}" alt="Photo 1">
                <img src="{% static 'qflapp/images/qfl01.jpg' %}" alt="Photo 2">

            </div>
        </div>
    </section>
    

{% endblock %}
